# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/SGFfiles/*

# database
OpenGoLeagues.db
GoStatistics.db

# file created by leelaz
leelaz_opencl_tuning