.App {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

h1.leaguesTitle{
  margin-bottom: 0px;
}

body {
  margin: 0;
  padding: 0;
}

.league {
  width: 400px;
  height: 300px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  border: 1px solid lightgray; 
  font-family: Arial, Helvetica, sans-serif;

  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.league:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  cursor: pointer;
}
.league .title {
  flex: 20%;
  border-bottom: 1px solid lightgray;
  background-color: dodgerblue;
  display: grid;
  place-content: center;
  color: white;
}

.league .body {
  flex: 60%;
  display: grid;
  place-content: center;
}

.league .footer {
  flex: 20%;
  border-top: 1px solid lightgray;
  display: flex;
  align-items: center;
  padding-left: 15px;
  background-color: dodgerblue;
  color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.footer .managerName {
  flex: 50%;
}

.footer .Register {
  /* flex: 5%; */
  /* border: 2px solid red; */
  margin-right: 15px;
}

.footer .buttons {
  flex: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* border: 2px solid red; */
}

.buttons label {
  margin-right: 20px;
  margin-left: 10px;
}

/* CheatingAnalysis PAGE CSS */

.formContainer {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  height: auto;
  padding: 20px;
  border: 5px solid dodgerblue;
  border-radius: 5px;
}

.formContainer label {
  margin: 10px;
}

.formContainer button {
  margin-top: 15px;
  height: 40px;
  border: none;
  background-color: lightskyblue;
  border-radius: 5px;
  color: white;
}

.formContainer button:hover {
  cursor: pointer;
  background-color: dodgerblue;
}

span {
  color: red;
}

/* NAVBAR */

.navbar {
  width: 100%;
  height: 70px;
  background-color: dodgerblue;
  display: flex;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}
.navbar .links {
  flex: 50%;
  height: 100%;
  display: flex;
  align-items: center;
}

.navbar .loggedInContainer {
  flex: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.navbar a {
  margin-left: 20px;
  text-decoration: none;
  color: white;
}

.navbar button {
  width: 100px;
  height: 40px;
  cursor: pointer;
  margin-right: 10px;
  background-color: white;
}

.navbar h1 {
  text-align: right;
  margin-right: 10px;
  color: white;
  font-weight: lighter;
}

/* INDIVIDUAL POST */
.leaguePage {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}



/* LOGIN */

.loginContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  padding-top: 100px;
}

.loginContainer input,
button {
  width: 200px;
  height: 50px;
  border-radius: 8px;
  border: none;
  margin: 10px;
}

.loginContainer button {
  background-color: dodgerblue;
  color: white;
}

.loginContainer input {
  border: 2px solid dodgerblue;
}

.player p, .player div{
	display: inline-block;
	margin: 15px;
	position : relative ;
}

table.resultCheating
{
	border-collapse:separate;
	border-spacing:0px;
	/* Remplace border-collapse:collapse */
	border-radius: 5px;
	border:5px solid dodgerblue;
}

.resultCheating thead tr
{
	background-color:dodgerblue;
  color: white;
  vertical-align: middle;

}

.resultCheating td, th
{
	padding:5px;
	vertical-align: middle;
  text-align: center;
}

.resultCheating td .toLeft{
	text-align:left;
  border-bottom: 1px solid black;
}

.resultCheating th
{
	font-weight:normal;
}

.resultCheating td
{
	border-right: 1px solid black;
	border-left: 1px solid black;
  border-bottom: 1px solid black; 
}

.resultCheating tbody.res
{
	font-weight:bold;
  border-bottom: 1px solid black; 
}

.resultCheating tbody tr:nth-child(odd)
{
  
	background-color: rgb(162,230,244);

}

.resultCheating tbody tr:nth-child(even)
{
	background-color: white;
  border-bottom: 1px solid black; 
}

.resultCheating .no
{
	color:rgb(0,128,64);
}

.resultCheating .yes
{
	color:#ff0000;
}

.resultCheating span.downloadFile{
  cursor: pointer;
  color:black;
}

Form button{
  margin-left: auto;
  margin-right: auto;
}

div.deleteButtons{
  cursor: pointer;
  color:black;
}

table.playerList
{
    border-collapse: collapse; /* Les bordures du tableau seront collées (plus joli) */
}

table.playerList td, th
{
    border: 1px solid black;
    text-align:center;
}

table.playerList button {
  cursor: pointer;
  color: white;
  max-width: 100px;
  max-height: 30px;
  background-color: dodgerblue;
}
table.playerList button.register {
  background-color: lightseagreen;
}
table.playerList button.refused {
  background-color: indianred;
}
table.playerList td.Registered {
  color: green;
}
table.playerList td.Refused {
  color: red;
}